.body{
  background-color: #94B3FD;
}

.profile-pic{
  border-radius: 50%;
}

.blog-title{
  margin-left: 15px;
}

.header-color{
  background-color:  #F8F5F1;
  width: 100%;
}

.header-center{
  margin-left: 294px;

}

img{
  border: 10px;
  left: 77px;
}

.twit-pic{
  height: 23px;
  width: 23px;
  border-radius: 50%;
  margin-left: 25px;
}

.me-link{
  padding-left: 7px;
}

.bio-center{

  padding: 0;
  margin: 1px;
}
h1,h3{
  color:#F9F3DF;
  }

p{
  color:#000000;
  font-family: "Lucida Grande" ;
  font-size: 18px;
  position: relative;
  left: 20px;

}

.header-link{
  padding-top: 90px;
  font-size: 22px;
  color: #F9F3DF;
}


.indent{
  margin-left: 115px;

}
.li-margin{
  margin-top: 0px;
}
.excerpt{
  color:#ffffff;
}
.img-excerpt{
  margin-left: 137px;
}


.yt-pizza{
  margin-left: 97px;
}

.inline{
  position: absolute;
  display: inline-block;
  left: 97px;
}

.excerpt-line{
  height: 557px;
  margin-top: 0px;
  width: 5px;
  background-color: red;
  border-radius: 80%;
}
.excerpt-line1{
  height: 135px;
  width: 5px;
  background-color: red;
  border-radius: 80%;
}
.yaw{
  width: 1050px;
}
